{% block test %}

<script>
	console.log("--- test block ---")
</script>

<div style="border: solid black;">
    <form>

        <label for="person">
            Person to search for: <input type="text" name="person" id="person">
        </label>

        <label for="text">
            Text <input type="radio" value="text" name="type" id="text" required>
        </label>

        <label for="json">
            JSON <input type="radio" value="json" name="type" id="json" required>
        </label>

        <button >
            <i class="fas fa-thumbs-up"></i> GO!
        </button>

    </form>
</div>
<br>

{% endblock test %}
